<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<form action="responses" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% @questions.each do |question| %>
      <%= question.title %><br>
      <% question.answers.each do |answer| %>
        <input type="radio" value="<%= answer.id %>" name="response[<%= question.id %>]"><%= answer.title %><br>
      <% end %><br>
  <% end %>
  <input type="submit" value="submit">
</form>

<br>

<%= link_to 'New Question', new_question_path %>
